/* root */
#root {
  width: 100%;
  height: 100%;
}
/* all links */
a {
  color: black;
}

/* all ul */
ul {
  list-style: none;
  display: inline-block;
}

/* login and register container */
.login,
.register {
  background-color: white;
  width: 60vw;
  height: 60vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: black solid 1px;
}

/* portfolio */
.portfolio {
  display: inline-block;
  width: 50%;
  height: 90%;
  border-right: 1px solid black;
}

/* purchase form */
.purchase-form {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 100%;
}

.purchase-form input {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.purchase-form button {
  width: 50%;
}

/* Transactions */
.transactions {
  width: 50%;
  height: 100%;
}

/* Not Found Page */
.not-found-msg {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; /* vertical y-axis */
  justify-content: center; /* horizontal x-axis */
  font-weight: bold;
  font-size: 5vw;
}
